@{
    ViewData["Title"] = "About SavePoint";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h2>What is SavePoint?</h2>
<p>SavePoint is a web based platform where you can keep track of your video games through the cloud.</p>
