@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12 text-center">
        <h2>Not a member yet? Join Today!</h2>
        <p>There is no membership fee and all you need is an e-mail address!</p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-12 text-center">
        <h2>Already a Member?</h2>
        <p>Log In to view your all of your saved games and add more!</p>
        <p>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-default" })</p>
    </div>
</div>
